In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [15]:
dataset = pd.read_csv('test.csv')

In [29]:
dataset.head()

   PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0          892       3    male  34.5      0      0   7.8292        Q
1          893       3  female  47.0      1      0   7.0000        S
2          894       2    male  62.0      0      0   9.6875        Q
3          895       3    male  27.0      0      0   8.6625        S
4          896       3  female  22.0      1      1  12.2875        S

In [17]:
dataset.shape

(418, 11)

In [28]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Sex          418 non-null    object
 3   Age          418 non-null    float64
 4   SibSp        418 non-null    int64
 5   Parch        418 non-null    int64
 6   Fare         418 non-null    float64
 7   Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 26.2+ KB

In [25]:
dataset.isnull().sum()

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [20]:
dataset.drop(['Cabin'], axis = 1, inplace = True)

In [21]:
dataset['Age'] = dataset['Age'].fillna(dataset['Age'].mean())

In [22]:
dataset['Fare'] = dataset['Fare'].fillna(dataset['Fare'].mean())

In [24]:
dataset.drop(['Name'], axis = 1, inplace = True)

In [27]:
dataset.drop(['Ticket'], axis = 1, inplace = True)

In [30]:
dataset.to_csv('formulatedtest.csv',index=False)